# local data/results folders
data/*
!data/README.md
outputs/
inference_outputs
test.sh

# Custom weights folder (mainly for testing).
weights/

# Weights and Biases
wandb/*

# IPython checkpoints
.ipynb_checkpoints

*__pycache__/
*.pyc